* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: black;
    font-family: arial;
    color: #ffffff;
}

.top {
}

.left {
}

.right {
}

.center {

}

.bottom {
}

.column {
    float: left;
}

.userInterface {

}

.userInterface .top {
    height: 5%;
}

.userInterface .left {
    width: 5%;
}

.userInterface .middle .center {
    width: 90%;
}

.userInterface .right {
    width: 5%;
}

.userInterface .bottom {
    height: 5%;
}

.userInterface .middle .center {
    width: 90%;
}

.userInterface .middle {
    height:90%;
}