  #top, #bottom {
      height: 20%;
  }
  #middle {
      height: 60%;
  }
  nav {
      background: #2196f3;
  }
  nav .dropdown {
      display: inline-block;
      vertical-align: middle;
      float: none;
  }

  nav .btn-default {
      margin: 15px;
  }

  #Copyright {
      text-align: center;
  }