
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

body, div {
    display: flex;
    flex-wrap: wrap;
}

#center {
    padding: 1em;
    color: #333333;
}

#top, #bottom {
    background: #333333;
    width: 100%;
    height: 10%;
    margin: 0;
}

#left, #right {
    background: #444444;
    padding: 1em;
    border: 1em #333333;
}

#left, #center, #right {
    height: 80%;
}

#Navigation {
    margin: auto;
    width: 20%;
    align-content: center;
    justify-content: space-around;
}

#Navigation I {
    background: #444444;
}

#copyright {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;;
    color: #ffffff;
}

#Search {
    align-items: center;
    margin: auto;
    width: 60%;
}

form {
    margin: 0;
}

#Logo {
    align-items: center;
    justify-content: center;
    width: 20%;
}
select {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    outline: none;
}
select:focus {
    outline: 0 !important;
}
option {
    outline: 0 !important;
    background: #444444;
    color: #ffffff;
    border: 0;
    padding: 1em;

}

option:focus {
    outline: 0 !important;
    border:none;
    box-shadow:none;
}

*:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: 0 !important;
}

#Navigation .dropdown {
    width: 80%;
}

#Navigation button {
    width: 100%;
}

.btn {
    border-radius: 0;
}

.dropdown-menu {
    border-radius: 0;
    margin: 0;
    width: 100%;
}

#Search form {
    margin: 0 auto;
}

#Container {
    width: 100%;
    padding: 0;
}

#middle {
    width: 100%;
    margin: 0;
}